:root {
    --mobile-width: 375px;
    --desktop-width: 1440px;

    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desatur-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --font-size: 16px;
}
@font-face {
    font-family: 'red_hat_display';
    src: url('./fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'red_hat_display';
    src: url('./fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'red_hat_display';
    src: url('./fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf');
    font-weight: 900;
}

html,
body {
    box-sizing: border-box;
}

.info-wrapper {
    font-family: 'red_hat_display';
}